<div class="panel">
  <div class="panel-heading"> Dropbox Details </div>
  <div class="attributes">
    <%= form.fields_for :dropbox do |dropbox_fields| %>
      <div class="attribute">
        <div class="field"> Username </div>
        <div class="value"> <%= dropbox_fields.text_field :username, placeholder: 'Dropbox Username'  %> </div>
      </div>
    <% end %>
  </div>
</div>