<div class="details-category">
  <div class="category-heading"> Dropbox Details </div>
  <div class="attributes">
    <div class="attribute">
      <div class="field"> Username </div>
      <div class="value"> <%= @intern.dropbox.username if @intern.dropbox != nil %> </div>
    </div>
  </div>
</div>