<div class="details-category">
  <div class="category-heading"> Github Details </div>
  <div class="attributes">
    <div class="attribute">
      <div class="field"> Username </div>
      <div class="value"> <%= @intern.github.username if @intern.github != nil %> </div>
    </div>
  </div>
</div>