<div class="details-category">
  <div class="category-heading"> Slack Details </div>
  <div class="attributes">
    <div class="attribute">
      <div class="field"> Username </div>
      <div class="value"> <%= @intern.slack.username if @intern.slack != nil %> </div>
    </div>
  </div>
</div>