<%= flash[:notice] %>
<div class="container">
  <div class="heading">
    <h2 class="text-center"> All Interns</h2>
    <div class="float-right">
      <%= link_to(new_intern_path, html_options = {:class => 'nav-link'}) do %>
        <span class="fa fa-plus-circle"></span>
        New intern
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
  <%=	render 'list' %>
</div>