<h1> All Interns </h1>

<table>
  <tr>
    <th>Display Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Batch</th>
  </tr>

  <% @interns.each do |intern| %>
    <tr>
      <td><%= intern.display_name %></td>
      <td><%= intern.first_name %></td>
      <td><%= intern.last_name %></td>
      <td><%= intern.batch %></td>
    </tr>
  <% end %>
</table>