<h1> Search </h1>
<%= form_tag(search_interns_path, method: :get) do %>
  <%= text_field_tag :q %>
  <%= submit_tag 'Search' %>
<% end %>


<% if @interns != nil %>
  <% if @interns.any? %>
    <h1> Search Results </h1>
    <%=	render 'list' %>
  <% else %>
    <h1> No results found </h1>
  <% end %>

<% end %>