<p>
  <strong>Display Name:</strong>
  <%= @intern.display_name %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @intern.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @intern.last_name %>
</p>

<p>
  <strong>Batch:</strong>
  <%= @intern.batch %>
</p>