<tr class="edit-row">
  <td>
    <%= form.text_field :name, placeholder: 'Name' %>
  </td>
  <td>
    <%= form.date_field :start_date %>
  </td>
  <td>
    <%= form.date_field :end_date %>
  </td>
  <td>
    <%= form.submit %>
  </td>
</tr>