@import "variables";

.bulk-import {
  .csv-upload {
    border: 1px solid $secondary-color-5;
  }
}

.csv {
  padding: 5px;
  font-family: monospace serif;
  word-wrap: break-word;

  .csv_headers {
    color: $primary-color-5;
  }

  .csv_data {

  }
}