@import "variables";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

body {
  background-color: $secondary-color-7 !important;
  color: $secondary-color-1;
  margin: 0;
}


form .required {
  color: $red;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.heading {
  margin-bottom: 50px;
  border-bottom: 1px solid $secondary-color-6;

  .intern-name {
    color: $primary-color-3;
  }
}

.white-page {
  background-color: $secondary-color-8;
  padding: 50px;
}

.panel {
  border: 1px solid $secondary-color-7;
  padding: 20px 50px;
  margin-bottom: 20px;

  .panel-heading {
    font-size: 24px;
    color: $secondary-color-3;
    margin-bottom: 20px;
  }
}

span.not-in-tw {
  color: $secondary-color-3;
}

input, select {
  &:not([type=submit]) {
    padding: 5px;
    width: 100%;
    border: 1px solid $secondary-color-6;
  }
}

input[type=radio] {
  width: initial;
}

select {
  border-radius: 0;
  -webkit-appearance: none;

  background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+) no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

.attributes {
  padding-left: 20px;
  .attribute {
    font-size: 16px;
    padding: 5px 0;

    .field {
      display: inline-block;
      width: 40%;
      vertical-align: top;
    }

    .value {
      display: inline-block;
      font-weight: 600;
      width: 55%;
    }
  }
}