@import "variables";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

body {
  background-color: $secondary-color-7 !important;
  color: $secondary-color-1;
  margin: 0;
}


form .required {
  color: $red;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.heading {
  margin-bottom: 50px;
  border-bottom: 1px solid $secondary-color-6;

  .intern-name {
    color: $primary-color-3;
  }
}