// Place all the styles related to the Interns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.interns {
  tr {
    td {
      &.name {
        .sub_names {
          padding-top: 5px;
          font-size: 16px;
          color: $secondary-color-3;
          white-space: normal;
        }
      }

      &.emails {
        div {
          font-size: 16px;
          &:nth-child(odd) {
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}