@import "variables";

.intern, .intern-form {

  .profile {

    .pic-and-names {
      text-align: center;

      .profile-picture {
        border: 1px solid $secondary-color-7;
        padding: 10px;
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;

        img {
          width: 100%;
        }

      }

      .display-name {
        font-size: 24px;
        font-weight: 600;
      }

      .full-name {
        color: $secondary-color-3;
        font-size: 20px;
      }

      .actions {
        margin: 20px 0;

        .action {
          display: inline;
          margin: 0 15px;
        }
      }

    }
  }

  .attributes {

    .email-attribute {
      margin-bottom: 10px;

      .email-category {
        font-weight: normal;
      }

      .email-address {

      }
    }
  }


}