//Colors

$primary-color-1: #052E5B;
$primary-color-2: #093C76;
$primary-color-3: #0E4C92;
$primary-color-4: #2963A4;
$primary-color-5: #4879B1;

$secondary-color-1: #222222;
$secondary-color-2: #444444;
$secondary-color-3: #666666;
$secondary-color-4: #888888;
$secondary-color-5: #AAAAAA;
$secondary-color-6: #CCCCCC;
$secondary-color-7: #E3E3E3;
$secondary-color-8: #FFFFFF;

$red: #FF0000;