<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Naming Service</a>

  <ul class="navbar-nav">

    <li class="nav-item">
      <%= link_to 'All interns', interns_path, html_options = {:class => 'nav-link'} %>
    </li>

    <li class="nav-item">
      <%= link_to 'Bulk import', bulk_import_interns_path, html_options = {:class => 'nav-link'} %>
    </li>

    <li class="nav-item">
      <%= link_to 'Batches', batches_path, html_options = {:class => 'nav-link'} %>
    </li>
  </ul>
</nav>